@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Prabhanjan Kurremula My GIT Project with Devops</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core - Prabhanjan Kurremula My GIT Project with Devops - Trigger updates</a>.</p>
</div>
